spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID:72344e72c8eb9a14b4de4c2a0d0f9b09}
            client-secret: ${KAKAO_CLIENT_SECRET:uCPxVmFgEDTIWwxt16OKR1sjrfxBpOxe}
            redirect-uri: ${BACKEND_URL:http://localhost:8080}/api/auth/kakao/callback
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            client-name: Kakao
            scope:
              - profile_nickname
              - profile_image
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

# Frontend and Backend URLs for deployment
frontend:
  # 배포
  url: ${FRONTEND_URL:https://homerun2.vercel.app}
  # 로컬
  # url: ${FRONTEND_URL:http://localhost:3000}
backend:
  # 배포
  url: ${BACKEND_URL:http://3.27.108.105:8080}
  # 로컬
  # url: ${BACKEND_URL:http://localhost:8080}

bus:
  api-key: ${BUS_API_KEY:Y1krIHzIaGjNExwpuP1xPwK34bFoC0iNOZhXjw45sb6mlhyqVVXTsuKTK+M6b1q9FEFwljRgECK9lIsGiPO+Yw==}
  station:
    fromMJUtoGH: ${BUS_STATION_MJU_TO_GH:228002959}
    fromGHtoMJU: ${BUS_STATION_GH_TO_MJU:228000696}
  numbers: ${BUS_NUMBERS:5005,820,5600,5003A,5003B}
  routeMap: '${BUS_ROUTE_MAP:{"5005": "228000175", "820": "228000012", "5600": "228000184", "5003A": "228000431", "5003B": "228000182"}}'

bounds:
  mju:
    - 37.224238
    - 127.187856
    - 37.22938
    - 127.19028
  gh:
    - 37.274678
    - 127.115739
    - 37.27749
    - 127.12048

jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
  expiration: ${JWT_EXPIRATION:86400000} # 24 hours in milliseconds
