spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            # client-id: ${KAKAO_CLIENT_ID}
            client-id: 72344e72c8eb9a14b4de4c2a0d0f9b09
            # client-secret: ${KAKAO_CLIENT_SECRET}
            client-secret: uCPxVmFgEDTIWwxt16OKR1sjrfxBpOxe
            redirect-uri: "{baseUrl}/api/auth/kakao/callback"
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            client-name: Kakao
            scope:
              - profile_nickname
              - profile_image
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

bus:
  api-key: "Y1krIHzIaGjNExwpuP1xPwK34bFoC0iNOZhXjw45sb6mlhyqVVXTsuKTK+M6b1q9FEFwljRgECK9lIsGiPO+Yw=="
  station:
    fromMJUtoGH: 228002959
    fromGHtoMJU: 228000696
  numbers: 5005,820,5600,5003A,5003B
  routeMap: '{"5005": "228000175", "820": "228000012", "5600": "228000184", "5003A": "228000431", "5003B": "228000182"}'
#  routeMap:
#    "5005": "228000175"
#    "820": "228000012"
#    "5600": "228000184"
#    "5003A": "228000431"
#    "5003B": "228000182"

bounds:
  mju:
    - 37.224238
    - 127.187856
    - 37.22938
    - 127.19028
  gh:
    - 37.274678
    - 127.115739
    - 37.27749
    - 127.12048
