spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            # client-id: ${KAKAO_CLIENT_ID}
            client-id: 72344e72c8eb9a14b4de4c2a0d0f9b09
            # client-secret: ${KAKAO_CLIENT_SECRET}
            client-secret: uCPxVmFgEDTIWwxt16OKR1sjrfxBpOxe
            redirect-uri: "{baseUrl}/api/auth/kakao/callback"
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            client-name: Kakao
            scope:
              - profile_nickname
              - profile_image
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
